
.map{
    height: 100%;
    width: 100%;
}
.mat-form-field {
    width: inherit;
}
form{
    width: -webkit-fill-available;
}
.controlsArea{
    display: grid;
    position: absolute;
    top: 8px;
    left: 8px;
}
.dataInputsArea{
    display: grid;
    grid-template-rows: repeat(7,1fr);
    border-radius: 20px;
    grid-row-gap: 15px;
    width: 320px;
    position: absolute;
    justify-items: center;
    top: 6vh;
    left: 15px;
    background: #ffffffe8;
}
.input-fromCity{
    grid-row: 1;
    justify-self: stretch;
    padding: 5px;
}
.input-toCity{
    grid-row: 2;
    justify-self: stretch;
    padding: 5px;
}
.input-fromStation{
    grid-row: 3;
    justify-self: stretch;
    padding: 5px;
}
.input-ToStation{
    grid-row: 4;
    justify-self: stretch;
    padding: 5px;
}
.input-trainFlight{
    grid-row: 5;
    justify-self: stretch;
    padding: 5px;
}
.get-route-btn{
    grid-row: 7;
    justify-self: stretch;
    display: grid;
}
.scroll-up-btn{
    display: none;
}
.input-operator{
    grid-row:6;
}
.input-operator-group{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 10px;
    justify-items: center;
}
.in-op-gr-control{
    display: grid;
    justify-items: center;
}
@media only screen and (max-width: 450px){
    .map{
        height:-webkit-fill-available;
    }
    .scroll-up-btn{
        display: initial;
        grid-row:2;
        position: absolute;
    }
    .dataInputsArea{
        grid-row:1;
        width: -webkit-fill-available;
        position: relative;
        z-index: -1;
        justify-items: center;
        top: 100px;
        left: 0px;
        background: #ffffffe8;
    }
    .ymaps-2-1-74-controls__control{
        bottom: 120px !important;
    }
}