<div id="map" class="map"></div>

<div class="dataInputsArea">
    <div class="input-fromCity">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input id="fromCity" (keyup.enter)="selectFromCityInput()" 
                (blur)="selectFromCityInput()" required name="fromCity"
                 type="text" placeholder="Город отправления" matInput>
            </mat-form-field>
        </form>
    </div>
    <div class="input-toCity">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input id="toCity" (keyup.enter)="selectToCityInput()" 
                (blur)="selectToCityInput()" required name="toCity" type="text"
                 placeholder="Город прибытия" matInput>
            </mat-form-field>
        </form>
    </div>
    <div class="input-fromStation">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input id="stDeparture" required  name="stArrival" (keyup.enter)="selectTrainFlight()" 
                (blur)="selectTrainFlight()" (click)="selectTrainFlight()"
                 type="text" placeholder="Станция отправления" matInput>
            </mat-form-field>
        </form>
    </div>
    <div class="input-ToStation">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input id="stArrival" name="stArrival" (keyup.enter)="selectTrainFlight()" 
                (blur)="selectTrainFlight()" required (click)="selectTrainFlight()"
                 type="text" placeholder="Станция прибытия" matInput>

            </mat-form-field>
        </form>
    </div>
    <div class="input-trainFlight">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input id="trainFlight" required name="trainFlight" 
                 type="text" placeholder="Выберите рейс" matInput>
            </mat-form-field>
        </form>
    </div>
    <div class="get-route-btn">
        <button mat-flat-button (click)="addObjectsToMap()" color="primary">Показать путь</button>
    </div>
</div>